/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --grey-tint-2: #D9D9D9;
    --grey: #F2F2F2;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


.card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
}

.card img {
    object-fit: cover;

} 



/** MyEditions **/


a {
    text-decoration: none;
    color:black;
}



/*************** Logo **************/
.logo img
{
    width: 61.09px;
    height: 19px;
    
}

.logo {
    display: flex;
    margin: 0px 0px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
    outline: 1px solid transparent;
}

/*************** Nav Bar **************/
.main-container header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 0px;
}


nav ul {
    list-style-type: none; /*enleve markers list*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;

}

nav ul li {
    display: inline; /*mets dans la meme ligne*/
}

.link1nav {
    
    padding: 10px;
    color: #0065FC;
    border-top: 2px solid #0065FC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link2nav {
   
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/**************** Barre de Recherche ***********/

.barre-de-recherche {
    display: flex;
    flex-direction: column;
    background: var(--white, #FFF);
    padding: 35px 0px 35px 0px;
}

/*** H1 P ***/

.barre-de-recherche h1 {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
    margin-bottom: 8px;
}

.barre-de-recherche p {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    padding-bottom: 19px;
}


/*** SEARCH ***/

.search-container {
    display: flex;
    align-items: center;
    max-width: 377px; 
    height: 49px; 
}

.fa-solid.fa-location-dot {
    color: black;
    display: flex;
    width: 50px;
    height: 49px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    align-items: center;
    justify-content: center;
    background: rgba(242, 242, 242, 1);
    margin: 0;
}

.select-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: white;
    border-top: 1px solid var(--grey, #F2F2F2);
    border-bottom: 1px solid var(--grey, #F2F2F2);
    flex-grow: 1; 
    height: 49px;
    padding: 0 24px; 
    position: relative;
    overflow: hidden; 
}

.selecteur-villes select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    width: 100%; 
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 49px; 
    color: var(--black, #000);
    text-align: center;
    height: 49px;
}

.selecteur-villes:after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search-container button {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    height: 49px;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--blue, #0065FC);
    background: var(--blue, #0065FC);
    margin-left: auto;
}

.selecteur-villes select::-ms-expand {
    display: none;
}

.selecteur-villes select option:hover {
    background-color: rgba(0,101,252, 0.1);  
}

/**************** Filtres ***********/
.filtres {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filtres p {
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    align-self: stretch;
    font-weight: initial;
    margin: 35px 0px 35px 0px;
}

.fa-info.fa-solid {
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    font-size: 12px;
    width: 19px;
    height: 19px;
    border-radius: 50%; 
    border: 2px solid rgba(217, 217, 217, 1); 
    padding: 1px; 
    background-color: transparent;
    margin-right: 10px;
}

.filtres-container {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 15px;
}

.filtre {
    display: flex;
    height: 50px;
    padding: 0px 19px; 
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);

    color: var(--black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.filtres-title {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filtres-container i {
    width: 22px;
    margin: 0px 10px 0px 0px;
}

.filtre:hover {
    background-color: var(--blue-light, #DEEBFF);
    cursor: pointer;  /* change curseur facon lien */
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires aside {
    background-color: var(--main-bg-color);
    border-radius: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    width: 100%;
    max-width: 871px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 15px;
    padding: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergements-card {
    display: flex;
    height: 207.5px; /* height specified */
    width: 250.33px; /* widht specified */
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    padding: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden; /* shure content dont go away */
    margin-bottom: 30px;
    
}

.hebergements-card img {
    height: 124px;
    width: 100%;
    object-fit: cover;
 	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.content-card {
    display: flex;
    padding: 0px 11px 15px 11px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    
}

.hebergements-card .card-title {
    font-size: 16px;
}

.hebergements-card .card-subtitle {
    font-size: 14px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}


/****** Activites Marseille ***********/

.activites-marseille {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activites-marseille-barre-horizontale {
    display: flex;
    width: 1280px;
    height: 499px;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.activites-marseille-barre-horizontale img {
    height: 380px;
    width: 297.5px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    
}

.image-container {
    display: flex;
    height: 439px;
    width: 297.5px;
    flex-direction: column;
    flex: 1 0 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);

}

.image-container .card-title {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
}

/****** Footer ***********/

.footer-container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: var(--grey, #F2F2F2);
}

.column-footer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

.footer-container h3 {
    margin: 0px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}